# From https://github.com/github/gitignore/blob/master/Gradle.gitignore
.gradle
/build/
/.idea/
# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache
# From https://github.com/github/gitignore/blob/master/Java.gitignore
*.class

Norwegian
# From https://github.com/github/gitignore/blob/master/Java.gitignore
UKRAINIAN
# З https://github.com/github/gitignore/blob/master/Java.gitignore
EXTENSION OPTIONSMORE »
